{% load static %}
<link rel="stylesheet" href="{% static 'selection.css' %}">
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>  
    <form method="POST" class="post-form" enctype="multipart/form-data">  
            <button type="submit" name="rapor" class="button">Rapora bak</button>  
            {% csrf_token %}  
            {{ form.as_p }}  
            <button type="submit" name="karar" class="button">Seçimleri Onayla</button>  
    </form>  
    </body>  